<div class="header_slide">
    <div class="header_bottom_left">
        <div class="categories">
            <h3>Danh mục</h3>
            @{ Html.RenderAction("_CategoryList", "Home");}
        </div>

    </div>
    <div class="header_bottom_right">
        @{ Html.RenderPartial("Slide"); }
    </div>
    <div class="clear"></div>
</div>
