<div class="categories">
    <ul>
        <h3>Danh mục</h3>
        <li><a href="#">Thiết bị văn phòng</a></li>
        <li><a href="#">Bút - Mực</a></li>
        <li><a href="#">Giấy các loại</a></li>
        <li><a href="#">Dụng cụ học sinh</a></li>
        <li><a href="#">Sổ - Tập</a></li>
        <li><a href="#">Bấm kim - Kim kẹp</a></li>
        <li><a href="#">Kẹp bướm - Dây đeo</a></li>
        <li><a href="#">Băng keo - Dao kéo</a></li>
        <li><a href="#">File hồ sơ</a></li>
    </ul>
</div>
