@model IList<Nhom1_VanPhongPham.Models.ProductByCat>
@{
    ViewBag.Title = "Home Page";
}

@section HeaderBottom {
    @{
        Html.RenderPartial("HeaderBottom");
    }
}

@foreach (var item in Model)
{
    <div class="content_bottom">
        <div class="heading">
            <h3>@item.cat.TenDanhMuc</h3>
        </div>
        <div class="see">
            <p><a href="#">Xem tất cả</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var product in item.products)
        {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="~/wwwroot/product-images/@product.AnhSanPham" alt="" /></a>
                <h2 style="overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; height: 38px;">@product.TenSanPham</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@Html.DisplayFor(m => product.GiaSanPham) VNĐ</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="@Url.Action("Preview", new { id = product.MaSanPham})">
                                + Giỏ hàng</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        }
    </div>
}